<footer class="bg-dark text-light py-3 mt-5">
  <div class="container text-center">
    <p class="mb-1">© {{ currentYear }} - 🎬My Movie Manager - MMM </p>
    <a
      href="https://github.com/Zahks/MoviesManager.git"
      target="_blank"
      class="text-light me-3 text-decoration-none"
      >Voir le projet sur GitHub</a
    >
    <a
      href="https://www.linkedin.com/in/florin-awountsac-zahoung"
      target="_blank"
      class="text-light text-decoration-none"
      >Mon profil LinkedIn</a
    >
  </div>
</footer>
